@using PagedList.Mvc;
@using PagedList;
@using CustomerManager.Models;
@model IPagedList<客戶資料>

@section breadcrumb{
    @Html.ActionLink("客戶資料", "Index", "客戶資料")
}

@{
    ViewBag.Title = "客戶資料";

    var queryParams = ViewBag.VM as 客戶資料VM;
    queryParams.SortString = "客戶名稱";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>客戶資料</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "客戶資料", FormMethod.Post, null))
{
    @Html.DropDownList("Category", (IEnumerable<SelectListItem>)ViewData["客戶分類"], "-- Select One --", htmlAttributes: new { @class = "form-control" })

    @Html.TextBox("CustName", null, new { placeholder = "請輸入客戶名稱", @class = "form-control" })
    @Html.TextBox("CustNo", null, new { placeholder = "請輸入統編", @class = "form-control" })
    <input type="submit" class="btn btn-default" />
    @Html.ActionLink("Export", "Export客戶資料", new 客戶資料VM() { CustName = ViewBag.VM.CustName, CustNo = ViewBag.VM.CustNo, Category = ViewBag.VM.Category })
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("客戶名稱", "Index", queryParams.SetSortString("客戶名稱"))
        </th>
        <th>
            @Html.ActionLink("統一編號", "Index", queryParams.SetSortString("統一編號"))
        </th>
        <th>
            @Html.ActionLink("電話", "Index", queryParams.SetSortString("電話"))
        </th>
        <th>
            @Html.ActionLink("傳真", "Index", queryParams.SetSortString("傳真"))
        </th>
        <th>
            @Html.ActionLink("地址", "Index", queryParams.SetSortString("地址"))
        </th>
        <th>
            @Html.ActionLink("Email", "Index", queryParams.SetSortString("Email"))
        </th>
        <th>
            @Html.ActionLink("Create Date", "Index", queryParams.SetSortString("CreateDate"))
        </th>
        <th>
            @Html.ActionLink("客戶分類", "Index", queryParams.SetSortString("客戶分類"))
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.統一編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.傳真)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.地址)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶類型.客戶分類)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.客戶Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.客戶Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.客戶Id })
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", queryParams))