@using PagedList.Mvc;
@using PagedList;
@model IPagedList<CustomerManager.Models.客戶資料>

@{
    ViewBag.Title = "客戶資料";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>客戶資料</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "客戶資料", FormMethod.Get, null))
{
    @Html.DropDownList("category", (IEnumerable<SelectListItem>)ViewData["客戶分類"], "-- Select One --", htmlAttributes: new { @class = "form-control" })

    @Html.TextBox("custName", null, new { placeholder = "請輸入客戶名稱", @class = "form-control" })
    @Html.TextBox("custNo", null, new { placeholder = "請輸入統編", @class = "form-control" })
    <input type="submit" class="btn btn-default" />
    @Html.ActionLink("Export", "Export客戶資料", new { custName = ViewBag.custName, custNo = ViewBag.custNo, category = ViewBag.category })
}
<table class="table">
    <tr>
        <th>
            @*@Html.ActionLink("客戶名稱", "Index", new { sortOrder = ViewBag.客戶名稱排序規則, custName = ViewBag.custName, custNo = ViewBag.custNo, category = ViewBag.category })*@
            @Html.ActionLink("客戶名稱", "Index", new { sortOrder = "客戶名稱", order = ViewBag.order, custName = ViewBag.custName, custNo = ViewBag.custNo, category = ViewBag.category })
        </th>
        <th>
            @Html.ActionLink("統一編號", "Index", new { sortOrder = "統一編號", order = ViewBag.order, custName = ViewBag.custName, custNo = ViewBag.custNo, category = ViewBag.category })
        </th>
        <th>
            @Html.ActionLink("電話", "Index", new { sortOrder = "電話", order = ViewBag.order, custName = ViewBag.custName, custNo = ViewBag.custNo, category = ViewBag.category })
        </th>
        <th>
            @Html.ActionLink("傳真", "Index", new { sortOrder = "傳真", order = ViewBag.order, custName = ViewBag.custName, custNo = ViewBag.custNo, category = ViewBag.category })
        </th>
        <th>
            @Html.ActionLink("地址", "Index", new { sortOrder = "地址", order = ViewBag.order, custName = ViewBag.custName, custNo = ViewBag.custNo, category = ViewBag.category })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = "Email", order = ViewBag.order, custName = ViewBag.custName, custNo = ViewBag.custNo, category = ViewBag.category })
        </th>
        <th>
            @Html.ActionLink("Create Date", "Index", new { sortOrder = "Create Date", order = ViewBag.order, custName = ViewBag.custName, custNo = ViewBag.custNo, category = ViewBag.category })
        </th>
        <th>
            @Html.ActionLink("客戶分類", "Index", new { sortOrder = "客戶分類", order = ViewBag.order, custName = ViewBag.custName, custNo = ViewBag.custNo, category = ViewBag.category })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.統一編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.傳真)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.地址)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶類型.客戶分類)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.客戶Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.客戶Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.客戶Id })
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, x => Url.Action("Index", new { page = x }))